body{
  margin:0;
  font-family: Inter, system-ui;
  background: radial-gradient(circle at top, #0f172a, #020617);
  color:white;
}

/* HEADER */
.header{
  height:70px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:0 20px;
  background:rgba(2,6,23,0.8);
  backdrop-filter: blur(10px);
  border-bottom:1px solid #1f2937;
}

.title{
  font-size:20px;
  font-weight:600;
}

/* USER AREA */
.user-area{
  display:flex;
  align-items:center;
  gap:10px;
}

.avatar{
  width:36px;
  height:36px;
  border-radius:50%;
}

.clear-btn{
  background:#ef4444;
  border:none;
  color:white;
  padding:6px 12px;
  border-radius:8px;
  cursor:pointer;
}

/* CHAT */
.chat-window{
  padding:25px;
  overflow-y:auto;
  height:calc(100vh - 140px);
}

/* BUBBLES */
.bubble{
  padding:14px 18px;
  border-radius:18px;
  max-width:65%;
  margin:10px 0;
  line-height:1.5;
}

.user-bubble{
  background:linear-gradient(135deg,#3b82f6,#2563eb);
  margin-left:auto;
}

.bot-bubble{
  background:#111827;
  border:1px solid #1f2937;
}

/* INPUT BAR */
.input-wrapper{
  position:fixed;
  bottom:20px;
  left:50%;
  transform:translateX(-50%);
  width:70%;
  background:#020617;
  border:1px solid #1f2937;
  border-radius:16px;
  display:flex;
  padding:10px;
  align-items:center;
}

textarea{
  flex:1;
  background:transparent;
  border:none;
  outline:none;
  color:white;
  resize:none;
  font-size:15px;
  padding:10px;
}

/* SEND BUTTON */
.send-btn{
  width:45px;
  height:45px;
  border-radius:50%;
  border:none;
  background:linear-gradient(135deg,#22c55e,#16a34a);
  color:white;
  font-size:18px;
  cursor:pointer;
  transition:0.2s;
}

.send-btn:hover{
  transform:scale(1.08);
}
.logout-btn{
  background:#334155;
  border:none;
  color:white;
  padding:6px 12px;
  border-radius:8px;
  cursor:pointer;
}

.logout-btn:hover{
  background:#475569;
}
